<!DOCYPE html>
<htm|>
‹head>
<title>フォローボタン</title＞
</head>
‹body>
<buton omclick="followUser（）”>10503020をフォロー＜/button＞
‹script>
function followUser) {
const targetUrI = "https://google.com
window.open(targetUrl, '_blank');
</script>
</body> </html>
